.App h1 {
  color: white;
  font-size: 40px;
  font-weight: 400;
  margin: 0;
  padding-top: 10vh;
  text-align: center;
}
.App p,
.App a {
  color: white;
  font-size: 12px;
  margin: 0;
}
.App p {
  text-align: center;
  padding-bottom: 15px;
}
.App a {
  text-decoration: none;
  font-weight: bold;
}
.App .background-purple {
  background: radial-gradient(
    81.11% 160.4% at 96.84% 95.36%,
    #6653e2 0%,
    #6d57f7 18.88%,
    #634ee8 42.14%,
    #6853f0 67.18%,
    #6653e2 100%
  );
  background-blend-mode: hard-light;
  height: 100%;
}
.App .background-second {
  background: radial-gradient(
    63.72% 63.72% at 58.09% 34.03%,
    rgba(25, 152, 223, 0.38) 33.86%,
    rgba(196, 196, 196, 0) 100%
  );
  height: 100%;
}
.App .background-third {
  background: linear-gradient(
    239.82deg,
    hsla(0, 0%, 8%, 0.818) -29.36%,
    #272727ad 0,
    hsla(0, 2%, 65%, 0) 44.03%
  );
  height: 100%;
}
