body {
  font-family: "Spartan", sans-serif;
}
.Dictionary input {
  border: none;
  font-size: 20px;
  color: #2e1ba8;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.3);
  transition: all 250ms ease-in-out;
}
.Dictionary input:focus {
  outline: none;
  background: white;
}
.Dictionary input:hover {
  background: white;
}
::-webkit-input-placeholder {
  color: #2e1ba8;
  letter-spacing: 1px;
}
.Dictionary button {
  color: #2e1ba8;
  background-color: white;
  font-size: 17px;
  border: none;
  border-radius: 50%;
  transition: all 250ms ease-in-out;
}
.Dictionary button:hover {
  background-color: #2e1ba8;
  color: white;
}
.Dictionary .search-background {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 0px 5.63646px 80px 5px rgba(0, 0, 0, 0.1);
}
.Dictionary img {
  width: 16%;
}
.Dictionary .giphy-logo {
  width: 50px;
}
.Dictionary .result {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5.63646px 80px 5px rgba(0, 0, 0, 0.1);
}
