.Phonetics a {
  color: #2e1ba8;
  border: solid 1px #2e1ba8;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
}
.Phonetics a:hover {
  color: white;
  background-color: #2e1ba8;
}
.Phonetics p {
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
}
